@using BBoneTrader.Web.Helpers
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>BBoneTrader</title>
        <link href="@Url.Content("~/public/css/bootstrap.min.css")" rel="stylesheet">
        <link href="@Url.Content("~/public/css/bootstrap-responsive.min.css")" rel="stylesheet">
        <link href="@Url.Content("~/public/css/style.css")" rel="stylesheet">
    </head>
    

    <body>
    
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">                    
                    <a class="brand" href="">Backbone Trader</a>
                    <div class="nav-collapse">
                        <ul class="nav"> 
                            <li>
                                <a href="#" data-route="auctions">
                                    <i class="icon-list icon-white"></i>
                                    Auction List</a>
                                </li>  
                            </li>
                            <li>
                                <a href="#new" data-route="new">
                                    <i class="icon-edit icon-white"></i>
                                    New Auction
                                </a>
                            </li>
                            <li>
                                <a href="#log" data-route="log">
                                    <i class="icon-eye-open icon-white"></i>
                                    Log
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="container" id="app-view">
            <div class="row span12">
                <div class="alert" style="display:none">                           
                </div>
            </div> 

            @*<form class="well form-search">
              <input type="text" class="input-medium search-query">
              <button type="submit" class="btn">Search</button>
            </form>*@

            <div id="main-region" class="row">               

            </div>

            <div class="row">
               <div class="span12">
               <div class="widget widget-box">
                    
                    <div class="widget-header">
                        <h3>Extra Info</h3>
                    </div> <!-- /widget-header -->
                    
                    <div class="widget-content">
                        
                            
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        
                        
                        <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        
                    </div> <!-- /widget-content -->
                    
                </div>
                </div>
            </div>
            
        </div>

        <div class="agent-log-wrapper">      
          <div class="agent-log well">           
          </div>
        </div>

        <script id="agent-log-item-template" type="text/html">
              <span style="color: rgb(106, 253, 81)">(</span><span style="color: rgb(162, 196, 253)">{{time}}</span><span style="color: rgb(106, 253, 81)">)</span>
              <span style="color: rgb(253, 248, 185)">&lt;</span><span style="color: rgb(252, 181, 129)">{{agentName}}</span><span style="color: rgb(253, 248, 185)">&gt;</span>
              <span style="color: rgb(106, 253, 81)">[</span><span style="color: rgb(162, 196, 253)">{{level}}</span><span style="color: rgb(106, 253, 81)">]</span>
              <span class="logger">{{logger}}</span>
              <span class="message">{{message}}</span>
        </script>
       
        
        @Html.RenderTemplates("~/public/templates/html")
    
        <script src="@Url.Content("~/public/js/vendor/jquery.min.js")"> </script>                
        <script src="@Url.Content("~/public/js/vendor/underscore.min.js")"> </script>        
        <script src="@Url.Content("~/public/js/vendor/backbone.min.js")"> </script>
        <script src="@Url.Content("~/public/js/vendor/mustache.min.js")"> </script>
        <script src="@Url.Content("~/public/js/vendor/jquery.effects.core.js")"> </script>
        <script src="@Url.Content("~/public/js/vendor/jquery.effects.highlight.js")"> </script>
        <script src="@Url.Content("~/public/js/vendor/jquery.signalR-0.5.0.js")"> </script>
        <script src="@Url.Content("~/signalr/hubs")"> </script>

        
        
        <script src="@Url.Content("~/public/js/BBoneTrader.js")"> </script>
        <script src="@Url.Content("~/public/js/BBoneTrader.utils.js")"> </script>
        <script src="@Url.Content("~/public/js/BBoneTrader.views.js")"> </script>
        <script src="@Url.Content("~/public/js/BBoneTrader.routes.js")"> </script>
        <script src="@Url.Content("~/public/js/BBoneTrader.hub.js")"> </script>

        <script src="@Url.Content("~/public/js/AuctionList/BBoneTrader.AuctionList.js")"> </script>
        <script src="@Url.Content("~/public/js/NewAuction/BBoneTrader.NewAuction.js")"> </script>
        <script src="@Url.Content("~/public/js/NewAuction/BBoneTrader.NewAuction.Models.js")"> </script>
        <script src="@Url.Content("~/public/js/Log/BBoneTrader.Log.js")"> </script>
        <script src="@Url.Content("~/public/js/BBoneTrader.Menu.js")"> </script>
        <script src="@Url.Content("~/public/js/BBoneTrader.AgentLog.js")"> </script>
        
        
     @*   <script src="@Url.Content("~/public/js/examples/examples.js")"> </script>*@
        
    
    </body>
</html>