@using BBoneTrader.Web.Helpers
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>BBoneTrader</title>
        <link href="@Url.Content("~/public/css/bootstrap.min.css")" rel="stylesheet">
        <link href="@Url.Content("~/public/css/bootstrap-responsive.min.css")" rel="stylesheet">
        <link href="@Url.Content("~/public/css/style.css")" rel="stylesheet">
    </head>
    

    <body>
    
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">                    
                    <a class="brand" href="">Backbone Trader</a>
                    <div class="nav-collapse">
                        <ul class="nav"> 
                            <li>
                                <a href="" data-route="auctions">
                                    <i class="icon-list icon-white"></i>
                                    Auction List</a>
                                </li>  
                            </li>
                            <li>
                                <a href="" data-route="new">
                                    <i class="icon-edit icon-white"></i>
                                    New Auction
                                </a>
                            </li>
                            <li>
                                <a href="" data-route="log">
                                    <i class="icon-eye-open icon-white"></i>
                                    Log
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="container" id="app-view">
            <div class="row span12">
                <div class="alert" style="display:none">                           
                </div>
            </div>

            <div id="main-region" class="row span12">               

            </div>     
            
        </div>    
       
        
        @Html.RenderTemplates("~/public/templates/html")
    
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"> </script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.1/underscore-min.js"> </script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.1/backbone-min.js"> </script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.4.2/mustache.min.js"> </script>
        <script src="@Url.Content("~/public/js/vendor/bootstrap.js")"> </script>
        <script src="@Url.Content("~/public/js/BBoneTrader.js")"> </script>
        <script src="@Url.Content("~/public/js/BBoneTrader.utils.js")"> </script>
        <script src="@Url.Content("~/public/js/BBoneTrader.views.js")"> </script>
        <script src="@Url.Content("~/public/js/BBoneTrader.routes.js")"> </script>
        <script src="@Url.Content("~/public/js/AuctionList/BBoneTrader.AuctionList.js")"> </script>
        <script src="@Url.Content("~/public/js/NewAuction/BBoneTrader.NewAuction.js")"> </script>
        <script src="@Url.Content("~/public/js/NewAuction/BBoneTrader.NewAuction.Models.js")"> </script>
        <script src="@Url.Content("~/public/js/BBoneTrader.Menu.js")"> </script>
    
    </body>
</html>