<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>BBoneTrader</title>
        <link href="@Url.Content("~/public/css/bootstrap.min.css")" rel="stylesheet">
        <link href="@Url.Content("~/public/css/bootstrap-responsive.min.css")" rel="stylesheet">
        <link href="@Url.Content("~/public/css/style.css")" rel="stylesheet">
    </head>
    

    <body>
    
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Backbone Trader</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="active"><a href="javascript;">List auctions</a></li>
                            <li><a href="javascript;">New auction</a></li>
                            <li><a href="javascript;">Log</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="container" id="app-view">
            
            
        </div>
        
        <script id="auction-item-template" type="text/html">
            <div class="auction-item well">
                <header>{{Title}}</header>
                
                <span class="auction-max-bix">Max bid: {{MaxBid}} SEK</span>
            </div>
        </script>
        
        <script id="new-auction-template" type="text/html">
            <h3>New Auction</h3>
            
            <form class="well">
                <label>Label name</label>
                <input type="text" class="span3" placeholder="Type something…">
                <span class="help-block">Example block-level help text here.</span>
                <label class="checkbox">
                    <input type="checkbox"> Check me out

                </label>
                <button type="submit" class="btn">Submit</button>
            </form>

        </script>
    
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"> </script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.1/underscore-min.js"> </script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.1/backbone-min.js"> </script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.4.2/mustache.min.js"> </script>
        <script src="@Url.Content("~/public/js/vendor/bootstrap.js")"> </script>
        <script src="@Url.Content("~/public/js/BBoneTrader.js")"> </script>
        <script src="@Url.Content("~/public/js/BBoneTrader.views.js")"> </script>
        <script src="@Url.Content("~/public/js/BBoneTrader.routes.js")"> </script>
        <script src="@Url.Content("~/public/js/AuctionList/BBoneTrader.AuctionList.js")"> </script>
        <script src="@Url.Content("~/public/js/NewAuction/BBoneTrader.NewAuction.js")"> </script>
    
    </body>
</html>